@import "styles/mixins.scss";
@import "styles/variables.scss";

.sideBarButton {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $green;
  color: $white;
  background-color: $green;
  z-index: 10;
}

.sideBarButton:hover {
  @include button-active;
  color: $white;
  background-color: $green2;
  border: 2px solid transparent;
}


.sideBarButton:focus {
  outline: none;
}

.sideBarButton:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}
.sidebarButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}