$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 1;
$topnavheight: 18rem;

$green: #3CB371;
$white: #fff;
$black: #000000;
$green2:rgb(33, 216, 125);
$navtext2: #c4d0dd;
$navtext3:#84898f;

$background: rgb(123, 201, 158);
$main-background: #f4a688;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #fbefcc;
$regular-color: #FBBE92;
$hover-color: #f9ccac;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;