.LeaderBoardText {
  font-family: 'Cabin Sketch', 'cursive';
  color: #fff;
  padding: 1em;
}

td {
  text-align: center;

}

th {
  text-align: center;
}

.table-item-Lb {
  font-size: 1.2em;
  padding: 0.1em;
  font-family: 'Dosis', 'sand-serif';
}

