.default-game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game-button {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.new-game-form {
  padding: 1em;
}
.save-title{
  font-family: 'Cabin sketch', 'cursive';
  padding: 1em;
}
.MyGames {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  color: #fff
}


.quit-confirm {
  position: absolute;
  top: 35%;
  left: 31.5%;
  background-color: rgb(123, 201, 158);
  border: 4px solid;
  border-color: #3CB371;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  padding: 1em;
  border-radius: 1em;
  color: #fff
}

.placeholder-text {
  font-family: 'Cabin Sketch', 'cursive';
}