.myProfile {
  margin-top: 2em;
  display: flex;
  width: 100%;
  height: 20em;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  font-family: 'Dosis', sans-serif;
  padding: 1em;
  display: flex;
  width: 60%;
  height: 100%;
  border: 0.3em;
  border-radius: 1em;
  background-color: #343a40;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: #fff
}