#game-container {
  display: flex;
  justify-content: center;
 
}
#game-container canvas {
  border: 8px solid;
  border-color: rgba(34,139,34, 0.322) rgba(60,179,113, 0.342) rgba(144,238,144, 0.329) rgba(46,139,87, 0.342) 
  
}
