@import "styles/mixins.scss";
@import "styles/variables.scss";

.sideBarButton {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 11rem;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: $white;
  background-color: black;
  z-index: 10;
}

.sideBarButton:hover {
  @include button-active;

  color: $white;
  background-color: grey;
  border: 2px solid transparent;
}


.sideBarButton:focus {
  outline: none;
}

.sideBarButton:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}
.sidebarButtons {
  height: 6em;
  width: 11em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.switch {
  display:block;
  position: absolute;
  top: 6em;
  text-align: center;
}
.dragSwitch {
  display:block;
  position: absolute;
  top: 4em;
  text-align: center;
}
.addBlocksSwitch {
  display:block;
  position: absolute;
  top: 8em;
  text-align: center;
}
.removeBlocksSwitch {
  display:block;
  position: absolute;
  top: 10em;
  text-align: center;
}
.predatorSwitch {
  display:block;
  position: absolute;
  top: 12em;
  text-align: center;
  background-color: green;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 11rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  color: $white;
  font-size: 1.5rem;
}



.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0px;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9rem);
  -ms-transform: translateX(9rem);
  transform: translateX(9rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#predMode {
  width: 11rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#3CB371;
  -webkit-transition: .4s;
  transition: .4s;
  color: $white;
  font-size: 1.5rem;
}


#predMode:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0px;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + #predMode {
  background-color: #006400;
}

input:focus + #predMode {
  box-shadow: 0 0 1px #006400;;
}

input:checked + #predMode:before {
  -webkit-transform: translateX(9rem);
  -ms-transform: translateX(9rem);
  transform: translateX(9rem);
}

