.rightSidebarItems {
  font-size: 0.75em;
  font-family: 'Dosis', sans-serif;
  width: 13em;
}

#attrList {
  border: 4px solid black;
  width: 100%;
  background-color: rgb(233, 227, 171);
  list-style-type: none;
}

#attrList li {
  padding-left: 0.5em;
  list-style-type: none;
}